<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Übersichtsseite für den Stundenplandings</title>
<link rel="stylesheet" href="screen.css" media="screen"/>
</head>
<body>
<div class="container">
<h1>Dein Stundenplan</h1>
<div class="courses">
<table cellpadding="0" cellspacing="0">
	<thead>
    	<tr>
        	<td>Start</td>
            <td>Ende</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<td>Start</td>
            <td>Ende</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
        </tr>
        <tr>
    		<td>Start</td>
            <td>Ende</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
        </tr>
        <tr>
    		<td>Start</td>
            <td>Ende</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
        </tr>
        <tr>
    		<td>Start</td>
            <td>Ende</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>
