<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login Seite für den Stundenplandings</title>
<link rel="stylesheet" href="screen.css" media="screen"/>
</head>
<body>
<div class="loginContainer">
<form>
<table cellpadding="5">
	<tr>
    	<td>Benutzername:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
    	<td>Passwort:</td>
        <td><input type="password" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Login" /></td>
    </tr>
</table>
</form>
</div>
</body>
</html>
