<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Modulseite für den Stundenplandings</title>
<link rel="stylesheet" href="screen.css" media="screen"/>
</head>
<body>
<div class="container">
<h1>Moduleinschreibung</h1>
<div class="nameDisplay">
ischc2@bfh.ch
</div>
<div class="moduleSelector">
<form>
<table>
	<thead>
    	<tr>
        	<td>Klasse</td>
            <td>Modul</td>
            <td>&nbsp;</td>
        </tr>
   </thead>
   <tbody>
   		<tr>
        	<td class="class">
           <select>
                <option value="1">I1R</option>
                <option value="2">I2R</option>
           </select>
           </td>
           <td class="module">
           	<select>
                <option value="1">Analysis I</option>
                <option value="2">Analysis II</option>
           </select>
           </td>
           <td class="action">
           	<img src="plus_sign.png" alt="modul hinzufügen" titel="modul hinzufügen"/> 
           </td>
       	</tr>
   </tbody>
</table>
</form>
</div>
<p class="clear">&nbsp;</p>
<div class="moduleDisplay">
<table cellpadding="0" cellspacing="0">
	<thead>
    	<tr>
        	<td>Klasse</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
    	<tr>
    		<td>Klasse</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
            <td><img src="minus_sign.png" alt="modul löschen" titel="modul löschen"/></td>
        </tr>
        <tr>
    		<td>Klasse</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
            <td><img src="minus_sign.png" alt="modul löschen" titel="modul löschen"/></td>
        </tr>
        <tr>
    		<td>Klasse</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
            <td><img src="minus_sign.png" alt="modul löschen" titel="modul löschen"/></td>
        </tr>
        <tr>
    		<td>Klasse</td>
            <td>Modul</td>
            <td>Modulnummer</td>
            <td>Dozent</td>
            <td>Credits</td>
            <td><img src="minus_sign.png" alt="modul löschen" titel="modul löschen"/></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>
